openapi: '3.0.0'
info:
  version: 1.0.0
  title: SystemForge API
  license:
    name: MIT
servers:
  - url: http://petstore.swagger.io/v1
paths:
  /trades:
    get:
      summary: List all trades
      operationId: listTrades
      parameters:
        - name: limit
          in: query
          description: How many items to return at one time (max 100)
          required: false
          schema:
            type: integer
            format: int32
      responses:
        200:
          description: An paged array of trades
          headers:
            x-next:
              description: A link to the next page of responses
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Trades'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      summary: Create a trade
      operationId: createTrade
      responses:
        201:
          description: Null response
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /strategies:
    get:
      summary: List all strategies
      operationId: listStrategies
      parameters:
        - name: limit
          in: query
          description: How many items to return at one time (max 100)
          required: false
          schema:
            type: integer
            format: int32
      responses:
        200:
          description: A paged array of strategies
          headers:
            x-next:
              description: A link to the next page of responses
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Strategies'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      summary: Create strategy
      operationId: createStrategy
      responses:
        201:
          description: Null response
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /trades/{tradeId}:
    get:
      summary: Info for a trade
      operationId: showTradeById
      parameters:
        - name: tradeId
          in: path
          required: true
          description: The id of the trade to retrieve
          schema:
            type: string
      responses:
        200:
          description: Expected response to a valid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Trades'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Trade:
      required:
        - id
        - asset
      properties:
        id:
          type: integer
          format: int64
        asset:
          type: string
        result:
          type: string
    Strategy:
      required:
        - id
        - name
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        description:
          type: string
    Trades:
      type: array
      items:
        $ref: '#/components/schemas/Trade'
    Strategies:
      type: array
      items:
        $ref: '#/components/schemas/Strategy'
    Error:
      required:
        - code
        - message
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string